<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="icon" href="image/favicon.ico?v=2">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
